{% extends 'base.html' %}
{% block content %}
<h1>{{ post.title }}</h1>
<h4>{{ post.content }}</h4>
<br>
<h5>Posted by: {{ post.relation_user }}</h5>
<h6>{{ post.creation_time|timesince }} ago</h6>
<p>
  {% if post.is_recent %}
    This post is recent!
  {% endif %}<br>
  {% if post.is_hot %}
    This post is HOT!
  {% endif %}<br>
  {% if request.user == post.relation_user %}
  <font color="#000000"><a href="{% url 'post_update_view' post.id %}">Update Post</a></font>
  {% endif %}
</p>
<form class="" action="" method="post">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        Post a comment!<br>{{ form }}
      </p>
      <input class="btn btn-default" type="submit" value="Submit">
    </div>
  </div>
</form>
{% for comment in post.comment_set.all %}
  <div class="panel panel-default">
    <div class="panel-body">
      {{ comment.content }}
    </div>
    <div class="panel-footer">By: {{ comment.relation_user }}
      <font size="1">{{ comment.creation_time|timesince }} ago</font>
      {% if request.user == comment.relation_user %}
      <div class="pull-right">
        <font size="2"><a href="{% url 'comment_update_view' comment.id %}">Update Comment</font></a>
      </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endblock %}
